/*base.sass*/
/*@import '_tools/_t-reset';*/
/* line 2, ../sass/_tools/_t-clear-fix.scss */
.cf:before, .card-group:before, section:before, .cf:after, .card-group:after, section:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 8, ../sass/_tools/_t-clear-fix.scss */
.cf:after, .card-group:after, section:after {
  clear: both;
}

/*color*/
/*@second_color: white;
@second_text_color: #333;

@header_color: #f8f8f8
@header_text_color: rgb(51, 51, 51);

@header_link_color: #777;
@header_link_hover_color: rgb(51, 51, 51);*/
/*_s-vars.scss*/
/*_a-buttons.scss*/
/*_m-footer.scss*/
/* line 3, ../sass/02_molecules/_m-footer.scss */
footer {
  padding: 50px 0;
  background-color: #2C3E50;
  color: #e3e3e3;
  position: relative;
  z-index: 1;
}
/* line 10, ../sass/02_molecules/_m-footer.scss */
footer p.copyright {
  margin: 0;
}

/*_m-card.scss*/
/* line 3, ../sass/02_molecules/_m-card.scss */
.card {
  width: 60%;
  padding: 30px;
  border-radius: 2px;
  background-image: linear-gradient(135deg, rgba(240, 240, 240, 0.9), rgba(255, 255, 255, 0.9));
  margin: 10px;
  box-shadow: 0 0 5px rgba(66, 66, 66, 0.8);
}
/* line 10, ../sass/02_molecules/_m-card.scss */
.card:hover {
  background: #fff;
}
/* line 11, ../sass/02_molecules/_m-card.scss */
.card.a {
  float: left;
}
/* line 12, ../sass/02_molecules/_m-card.scss */
.card.b {
  float: right;
}
/* line 13, ../sass/02_molecules/_m-card.scss */
.card img {
  width: 65px;
  float: left;
  margin-right: 10px;
  opacity: .6;
}
/* line 19, ../sass/02_molecules/_m-card.scss */
.card h3 {
  color: #2574A9;
  letter-spacing: -2px;
  margin: 0 0 20px 0;
}

/*_m-menu.scss*/
/* line 3, ../sass/02_molecules/_m-menu.scss */
.navbar-default {
  background-color: #2C3E50;
  border: 0;
}
/* line 7, ../sass/02_molecules/_m-menu.scss */
.navbar-default .navbar-toggle {
  margin-right: 0;
  border: 0;
}
/* line 11, ../sass/02_molecules/_m-menu.scss */
.navbar-default .navbar-toggle span.icon-bar {
  background-color: #e3e3e3;
}
/* line 15, ../sass/02_molecules/_m-menu.scss */
.navbar-default .navbar-toggle:hover {
  background-color: #e3e3e3;
}
/* line 17, ../sass/02_molecules/_m-menu.scss */
.navbar-default .navbar-toggle:hover span.icon-bar {
  background-color: #2f90d2;
}
/* line 23, ../sass/02_molecules/_m-menu.scss */
.navbar-default .navbar-brand {
  background: url("../images/logo/ioBUILDERS-text-white.svg") no-repeat center;
  width: 200px;
}
/* line 29, ../sass/02_molecules/_m-menu.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

/*_m-header.scss*/
/* line 3, ../sass/03_organisms/_o-header.scss */
.intro-header {
  padding-top: 40px;
  text-align: center;
  color: #f8f8f8;
}

/* line 9, ../sass/03_organisms/_o-header.scss */
.header-container {
  width: 100%;
}
/* line 12, ../sass/03_organisms/_o-header.scss */
.header-container .intro-image {
  height: 100%;
  min-height: 380px;
  margin-top: 20px;
  background: url("../images/logo/ioBUILDERS.svg") no-repeat center;
  position: relative;
  z-index: 1;
}
/* line 21, ../sass/03_organisms/_o-header.scss */
.header-container .intro-message {
  margin-top: 165px;
  color: #e3e3e3;
  text-align: left;
  position: relative;
  z-index: 1;
}
/* line 28, ../sass/03_organisms/_o-header.scss */
.header-container .intro-message > h1 {
  font-size: 3em;
  letter-spacing: -4px;
}
/* line 29, ../sass/03_organisms/_o-header.scss */
.header-container .intro-message > h3 {
  letter-spacing: -2px;
}
/* line 31, ../sass/03_organisms/_o-header.scss */
.header-container .intro-message .intro-divider {
  width: 80%;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  float: left;
  margin: 8px 0 0 0;
}

/*_o-card-group.scss*/
/* line 3, ../sass/03_organisms/_o-card-group.scss */
.card-group {
  overflow: hidden;
}

/*_t-container.scss*/
/* line 3, ../sass/04_templates/_t-container.scss */
.container {
  line-height: 1.2em;
}
/* line 6, ../sass/04_templates/_t-container.scss */
.container ul {
  line-height: 1.6em;
}
/* line 10, ../sass/04_templates/_t-container.scss */
.container pre {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.6em;
}
/* line 16, ../sass/04_templates/_t-container.scss */
.container h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/*_p-index.scss*/
/* line 3, ../sass/05_pages/_p-index.scss */
section {
  min-height: 95vh;
}
/* line 8, ../sass/05_pages/_p-index.scss */
section .intro-header:after {
  content: '';
  position: fixed;
  left: -40vh;
  top: 40px;
  width: 98vh;
  height: 98vh;
  background: url("../images/backs/world.svg") no-repeat;
  background-size: cover;
  opacity: .7;
  animation: rotate 250s infinite;
  animation-timing-function: linear;
}
/* line 21, ../sass/05_pages/_p-index.scss */
section .intro-header:before {
  content: '';
  position: fixed;
  right: -220vh;
  top: 80px;
  width: 400vh;
  height: 400vh;
  background: url("../images/backs/world.svg") no-repeat;
  background-size: cover;
  opacity: .3;
  animation: rotate-inverse 550s infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-inverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* line 22, ../sass/base.scss */
body, html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #333;
  position: relative;
  background-color: #a9b7c4;
}

/* line 31, ../sass/base.scss */
body::before {
  background-image: url("../images/backs/lights.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0.3) hue-rotate(200deg);
  content: '';
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: .6;
  animation: move-jelly 300s infinite;
}

/* line 44, ../sass/base.scss */
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', -apple-system-headline, 'Helvetica Neue', Helvetica, sans-serif;
}

/* line 48, ../sass/base.scss */
h1, h2 {
  color: #2C3E50;
}

/* line 49, ../sass/base.scss */
h3 {
  color: #e3e3e3;
}

@keyframes move-jelly {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
