/*_m-header.scss*/

.intro-header {
    padding-top: 40px;
    text-align: center;
    color: #f8f8f8;
}

.header-container {
    width: 100%;

	.intro-image {
	    height: 100%;
	    min-height: 380px;
	    margin-top: 20px;
	    background: url('../images/ioBUILDERS-white.svg') no-repeat center;
	}

	.intro-message {
	    margin-top: 177px;
	    color: $white;
	    text-align: left;

	    & > h1 {font-size: 2.3em; letter-spacing: -4px;}
	    & > h3 {letter-spacing: -2px;}

		.intro-divider {
		    width: 80%;
		    border-top: 1px solid $white;
		    border-bottom: 1px solid rgba(0,0,0,0.2);
		    float: left;
		    margin: 8px 0 0 0;
		}
	}
}


