{{ partial "head.html" . }}
{{ partial "nav.html" . }}
{{ partial "header.html" . }}
<!-- {{ partial "services.html" . }} -->

<div class="card-group">
	<div class="card">
		<h4>About</h4>
		The ioBUILDERS company coordinates, incubates, accelerates and spawns "spoke" ventures through development, resource sharing, acquisitions, investments and the formation of join ventures.
		These spokes benefit from foundation components built by ioBUILDERSS that enable new services and business models to be made on the blockchain.
		In addition to the development of internal projects, ioBUILDERS is interested in the identification, participation, development and promotion of third parties ideas, projects and talent on an ongoing basis.
	</div>
	<div class="card">
		<h4>Our Core Components</h4>
		ioBUILDERS is building blockchain-resident tools, our core components, to enable all of its projects to be created, governed, funded and executed primarily on the blockchain.
		Our core components, from its ideation to emergence as proofs of concept, to productization are shaped to attain a dynamic balance of independent governance and independent relationship with related projects.
	</div>
	<div class="card">
		<h4>Ventures & Partners</h4>
		ioBUILDERS is a "hub" organization that idenfies real business opportunities based on its Core Components. Its aim is the development, cross-venture sharing of components and promoting cross-fertilization of ideas through joint venture incorporation with industrial and financial partners. Everis (an NTT Company) is the initial general industrial & financial partner.
	</div>
	<div class="card">
		<h4>Services & Capital</h4>
		ioBUILDERS may be a venture capital financing (capital or equity services) to breakthrough blockchain companies. We work on the cutting-edge of blockchain, with highly-experienced experts who undestand the nuances of this new technology and the depth of knowledge available throughout our industrial partners network.
		We help our companies not only partner with, but embed within, this world-class ecosystem.
	</div>
</div>

{{ partial "footer.html" . }}
