/*base.sass*/

/*@import '_tools/_t-reset';*/
@import '_tools/_t-clear-fix';

@import '00_settings/_s-color',
		'00_settings/_s-vars';

@import '01_atoms/_a-buttons';

@import '02_molecules/_m-footer',
		'02_molecules/_m-card',
		'02_molecules/_m-menu';

@import '03_organisms/_o-header', 
		'03_organisms/_o-card-group';

@import '04_templates/_t-container';

@import '05_pages/_p-index';

body, html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: $text-color;
    background-color: $primary-color;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', -apple-system-headline, 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2 {color: $secondary-color;}
h3 {color: $white;}