/*color*/

$primary-color: #2574A9;
$secondary-color: #2C3E50;
$aux-color: #BDC3C7; //silver-sand
$text-color: #333;
$white: #e3e3e3;


/*@second_color: white;
@second_text_color: #333;

@header_color: #f8f8f8
@header_text_color: rgb(51, 51, 51);

@header_link_color: #777;
@header_link_hover_color: rgb(51, 51, 51);*/